global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL).
	ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

#Http frontend
frontend http-in
    bind {{ getv "/global/listeners/http/bind" }}

    #Host ACLs
    acl host_{{ getv "/global/hostname" }} hdr_dom(host) -i {{ getv "/global/hostname" }}
    use_backend admin if host_{{ getv "/global/hostname" }}

    {{ range $host := ls "/hosts" }}
    acl host_{{$host}} hdr_dom(host) -i {{$host}}
    {{ range $path := printf "/hosts/%s/locations/*/path" $host | gets}}{{ $pathName := $path.Key | parent | base }}
    acl path_{{$host}}-{{$pathName}} path_beg {{parent $path.Value}}
    use_backend {{printf "/hosts/%s/locations/%s/upstream" $host $pathName | getv }} if host_{{ $host }} path_{{$host}}-{{$pathName}}
    {{ end }}
    {{ end }}

#Define all the backends
{{ range $upstream := ls "/upstreams" }}
backend {{$upstream}}
   balance roundrobin
   mode http
   {{ range $endpoint := printf "/upstreams/%s/endpoints/*" $upstream | gets }}{{ $endpointName := $endpoint.Key | parent | base }}
   server {{$endpointName}} {{$endpoint.Value}}  check
   {{end}}
{{ end }}



listen admin
    bind {{ getv "/global/listeners/admin/bind" }}
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /